<ul class="sidebar-menu">
<li class="header">管理菜单</li>

<li class="treeview">
    <a href="#">
        <i class="fa fa-tags" aria-hidden="true"></i>
        <span>标签管理</span>
        <span class="label label-primary pull-right">2</span>
    </a>
    <ul class="treeview-menu">
        <li>
            <a href="tag_add.html">
                <i class="fa fa-circle-o"></i> 添加标签
            </a>
        </li>
        <li>
            <a href="tag_list.html">
                <i class="fa fa-circle-o"></i> 标签列表
            </a>
        </li>
    </ul>
</li>
<li class="treeview">
    <a href="#">
        <i class="fa fa-file-video-o" aria-hidden="true"></i>
        <span>电影管理</span>
        <span class="label label-primary pull-right">2</span>
    </a>
    <ul class="treeview-menu">
        <li>
            <a href="movie_add.html">
                <i class="fa fa-circle-o"></i> 添加电影
            </a>
        </li>
        <li>
            <a href="movie_list.html">
                <i class="fa fa-circle-o"></i> 电影列表
            </a>
        </li>
    </ul>
</li>

</ul>